html, body { height: 100%; padding: 0; margin: 0;}
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
    background: #333;
    overflow: hidden;
    margin: 10px;
    height: 100%;
}

#page-container{
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

h1 {
    font-family: 'Bangers', cursive;
    color: #ffcc00;
    font-size: 56px;
}

.ui-widget-header {
    background: #ffcc00;
    padding: 10px;
    font-family: 'Bangers', cursive;
    color: #333;
    font-size: 30px;
}

.ui-widget-content {
    margin: 10px;
}

div{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
.left-float-div {
    float: left;
    width: 48%;
    margin-right: 2px;
}
.inline-div {
    display: inline-block;
    width: 49%;
    padding: 0;
    vertical-align: top;
}

.scrolling-text {
    overflow: auto;
    height: 150px;
    padding-right: 0px;
    width: 100%;
}

button {
    background-color: #b90404;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
}

#message-buttons {

}



/* Text Styles, Colors, Backgrounds */

.page-container  h1 {
	font-weight: 300;
	font-size: 4.4em;
	line-height: 1;
	letter-spacing: 6px;
	margin: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	word-spacing: -0.3em;
}
.screen {
}
footer {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;

}
